<%- include ("./partials/header") %>

<div class="constituencies">
 <% querySnapshot.forEach(function(c){ %>
       <a href="/b/<%= c.data().Constituency%>/<%= c.data().Category %>/<%= c.id %>"><%= c.data().Constituency %></a>
       <br><br>     
 <% }); %>
</div>

<%- include ("./partials/footer") %>